/* Reset and General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header Styles */
header {
    background: url('images/hero.jpg') no-repeat center center;
    background-color: black;
    color: white;
    padding: 50px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e91e63;
}

/* Hero Section Styles */
.hero {
    background: url('images/herooo.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact {
    background: url('images/herooo.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 150px 0;
    background-color: #f9f9f9;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.contact p {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.contact a {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

/* Button Styles for Contact Links */
.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: orangered;
}

.contact-button i {
    margin-right: 10px;
}

/* Footer Styles */
footer {
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 0;
}

/* Social Links and Order Button */
.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link img {
    width: 45px;
    height: auto;
}

.order-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: auto;
}

.order-button:hover {
    background-color: orangered;
}
