<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheBoil</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<header>
    <div class="container">
        <div class="social-links">
            <a href="https://www.tiktok.com/@theboilsthlm" class="social-link"><img src="/tiktok_logo2.png" alt="TikTok"></a>
            <a href="https://www.instagram.com/theboilsthlm/" class="social-link"><img src="instagram_logo2.png" alt="Instagram"></a>
        </div>
        <a href="https://qopla.se/" class="order-button header-button">BESTÄLL HÄR</a>
        <nav>
            <ul class="nav-links">
                <li><a href="/hem">Hem</a></li>
                <li><a href="/meny">Meny</a></li>
                <li><a href="/om-oss">Om Oss</a></li>
                <li><a href="/kontakta-oss">Kontakta Oss</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">☰</button>
                <div class="dropdown-content">
                    <a href="/hem">Hem</a>
                    <a href="/meny">Meny</a>
                    <a href="/om-oss">Om Oss</a>
                    <a href="/kontakta-oss">Kontakta Oss</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <h2 th:text="${welcomeMessage}"></h2>
        <p th:text="${discoverMessage}"></p>

    </section>
</main>

<section class="about" id="about">
    <div class="container">
        <h2>HITTA OSS NÄRA DIG</h2>
        <p>Comming soon</p>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 TheBoil. Alla rättigheter förbehållna.</p>
        <a href="https://www.tiktok.com/@theboilsthlm" class="social-link"><img src="tiktok_logo2.png" alt="TikTok"></a>
        <a href="https://www.instagram.com/theboilsthlm/" class="social-link"><img src="instagram_logo2.png" alt="Instagram"></a>

    </div>
</footer>

<script src="/js/scripts.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">

</body>
</html>
